In [19]:
#DATATYPES

#Numeric datatype---  datatype that includes numeric values
   #integer--- contains integer values(-infinity to infinity)(-9,3....)
  #float---- contains decimal point numbers(1.2,6.3)
  #complex -----contains real and inaginary numbers(3+2j)(7-2j)............


#CHARACTER datatypes
  #string ---------character or sequence of character
  #list----------ordered,mutable collection of multiple items that can be heterogeneous
   #ordered
   #mutable
   #multiple items
   #heterogeneous----different data types
   #started and ended with 'square brackets'
list=[1,2,9.8,True,'hello']
print(list)
  #tuple------ordered, immutable collection of items that can  be heterogeneous
  #started and ended with parentheses
  #ordered
  #immutable
  #multiple items
  #heterogeneous
tuple1=(1,2,9.6,True,'hello')
print(tuple1)

mylist=[264,45.18,False,'hitman']
print(mylist)

tuple2=(45,66.3,True,'mohit')
print(tuple2)

#list methods
#append() , extend(), insert(), remove(), pop(), clear(), index(), count(), sort(),reverse(), copy()


#append---adds a single element to the end of the list
li=[1,2,5,3]
li.append(100)
print(li)

[1, 2, 9.8, True, 'hello']
(1, 2, 9.6, True, 'hello')
[264, 45.18, False, 'hitman']
(45, 66.3, True, 'mohit')
[1, 2, 5, 3, 100]

In [21]:
#extend-----adds multiple elements or a new list to the exisiting list
li.extend([1,5,9,23])
print(li)

[1, 2, 5, 3, 100, 1, 5, 9, 23]

In [23]:
#insert --------adds the element to a specefic position
li.insert(2,45)
print(li)

[1, 2, 45, 5, 3, 100, 1, 5, 9, 23]

In [25]:
#Remove------removes a specefic element
  # throws error if the element is not present
li.remove(100)
print(li)

[1, 2, 45, 5, 3, 1, 5, 9, 23]

In [29]:
# li.remove(100)
# print(li) 
#show erros bcoz element not present in list

In [35]:
#practice
maa=[4,6,3.6,True,'raja']
maa.append('king')
maa.append(True)
maa.append(5.6)
print(maa)

[4, 6, 3.6, True, 'raja', 'king', True, 5.6]

In [51]:
maa.extend([2,5])
print(maa)

[4, 6, 3.6, 10000, True, 'king', True, 5.6, 4, 544, 5, 2, 5]

In [75]:
maa.insert(10000,45)
print(maa)

[6, 3.6, 10000, True, 'king', True, 5.6, 4, 544, 5, 2, 5, 'jaipur', 'jaipur', 45]

In [63]:
maa.remove(4)
print(maa)

[6, 3.6, 10000, True, 'king', True, 5.6, 4, 544, 5, 2, 5]

In [77]:
#pop-----removes the element on the position given

maa.pop(2)
print(maa)

[6, 3.6, True, 'king', True, 5.6, 4, 544, 5, 2, 5, 'jaipur', 'jaipur', 45]

In [79]:
maa.pop()
print(maa)

#by default remove last element of list

[6, 3.6, True, 'king', True, 5.6, 4, 544, 5, 2, 5, 'jaipur', 'jaipur']

In [83]:
# maa.remove()
# print(maa)   
#will give error

In [85]:
#clear------will remove all the elements
maa.clear()
print(maa)
#will remove the elements the structure will be there as it is
#[]

[]

In [91]:
l1=[1,2,5,6,2,2,1,3,2.5,8,4]
l1.index(1)
l1.index(2)
#will give the index of the first occurance of the element

1

In [93]:
l1.count(2)

3

In [103]:
new=[4,55,2,2,2.3,6,5,4,2,2]
new.pop(4)
print(new)

[4, 55, 2, 2, 6, 5, 4, 2, 2]

In [99]:
new.index(2)

2

In [101]:
new.count(4)

2

In [105]:
new.count(2)

4

In [109]:
new.pop()
print(new)

[4, 55, 2, 2, 6, 5, 4]

In [111]:
new.clear()